.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width: 500px;
    background: #fff;
    border-radius: 50px;
    padding-bottom: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 7px;
    width: 100%;
}

.text{
    color: rgb(16, 117, 150);
    font-size: 40px;
    font-weight: 650;
}

.underline{
    width: 100px;
    height: 5px;
    background: rgb(16, 117, 150);
    border-radius: 9px; 
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 55px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 50px;
    background: #e0dcdc;
    border-radius: 15px;
}

.input img{
    margin: 0px 20px;
    height: 15px;
    width: 15px;
}

.input input{
    width: 200px;
    height: 30px;
    border:none;
    outline: none;
    font-size: 13px;
    background: #e0dcdc;
}

.submit-container{
    display: flex;
    /* flex-direction: row; */
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    color: #fff;
    background: rgb(16, 117, 150);
    font-size: 13px;
    font-weight: 550;
    cursor: pointer;
    border-radius: 50px;
}

.gray{
    background: #e0dcdc;
    color: #676767;

}